h1{
    background-color: #aca9a9;
    text-align: center;
}
#p-One{
    background-color: #7b7ba9;
    
    
}
#p-Two{
    background-color: #2d2dff; 
    
}
#p-Three{
    background-color: #4e4eff;
    
}
#p-Four{
    background-color: #7373ff;
    
} 
#p-Five{
    background-color: #9191ff;
    
}
#p-Six{
    background-color: #a7a7ff;
    
}
#p-Seven{
    background-color: #00aa5b; 
    
}
#p-Eight{
    background-color: #facbe8;
    
}
#p-Nine{
    background-color: #fda4db;
    
}
#p-Ten{
    background-color: #ff7acc;
    
}
#p-Eleven{
    background-color: #fd54bc;
    
}
#p-Twelve{
    background-color: #fa29aa;
    
}
#p-Thirteen{
    background-color: #ff009d;
    
}